<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="PlaceLab tests" verbose="1" >
    <test name="Login test">
        <parameter name="browser" value="Chrome" />
        <parameter name="validEmail" value="dzana.asja.hasanovic@gmail.com" />
        <parameter name="validPassword" value="Sifra123!" />
        <classes>
            <class name="com.placelab.tests.LoginTests" />
            <class name="com.placelab.tests.CreateSinglePlaceSearchReport" />
        </classes>
    </test>
</suite>